
textarea {
    font-family: Arial, Helvetica, sans-serif;
    height: 100px;
    outline: none;
    border: 1px solid lightgray;
}
.sticky-canvas {
    max-width: 1024px;
    min-width: 768px;
    height: 600px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}
.delete-zone {
    position: absolute;
    width: 300px;
    height: 200px;
    bottom: 0;
    right: 0;
    background-color: white;
    text-align: center;
    padding-top: 20px;
}