
textarea {
    font-family: Arial, Helvetica, sans-serif;
    height: 100px;
    outline: none;
    border: 1px solid lightgray;
}
.sticky-canvas {
    width: 1000px;
    height: 600px;
    position: relative;
    overflow: hidden;
}
.delete-zone {
    position: absolute;
    width: 300px;
    height: 200px;
    bottom: 0;
    right: 0;
    background-color: white;
    padding: 20px 10px
}